@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

/* 초기화 S */
body {
    margin: 0;
}

ul, ol, dt, dd, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}
/* 초기화 E */

/* 공통 스타일 S */
:root {
    --main-max-size: 500px;
    --main-min-size: 470px;
    --primary-font-size: 14px;
    --primary-font-color: #0A0A0A;
}


* {
    font-family: var(--font-main);
    box-sizing: border-box;
}

html {
    font-size: var(--primary-font-size);
}

body {
    color: var(--primary-font-color);
}


input[type='text'], 
input[type='email'], 
input[type='password'], 
input[type='submit'] {
    width: 100%;
    height: 56px;
    border: 1px solid rgb(220 224 229);
    border-radius: 3px;
    padding: 16px;
    font-size: 1.15rem;
}

input + input {
    margin-top: 13px;
}

input::placeholder {
    opacity: 0.7;
    font-weight: 400;
}

input[type='submit'] {
    background: #000;
    color: #fff;
    cursor: pointer;
}
input[type='submit']:hover {
    background: #0A74FF;
}

button[type="button"]:hover{
    color: #000;
    cursor:pointer;
}


button[type="button"]:{
    color: #000;
    cursor:pointer;
}

button {
    border: 0;
    padding: 0;
}

input[type="checkbox"]{
    border-color:gray
}
/* 공통 스타일 S */



.main {
    max-width: var(--main-max-size);
    min-width: var(--main-min-size);
    width: 100%;
    margin: 162px auto 100px;
}

.login_tabs{
    display:flex;
    justify-content: space-evenly;
}

.login_tabs:hover{
    color:#0A0A0A
}

.login_tabs:focus{
    text-decoration: underline;
}


.login_tabs>button{
    background:transparent;
    border:none;
    color:gray;
    padding:12px;
}

.find_my{
    display:flex;
    flex-direction: row;
}

.find_my>a{
    color:gray;
    margin-right: 12px;
    margin-top: 10px;
}
.find_my>a:hover{
    text-decoration: underline;
}

security_center>a{
    color:#0A74FF;
}

.alt_account > div {
    display: flex;
    justify-content: center;

    width: 350px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.alt_account > div button {
    background: transparent;
}

.nexon{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
