
    @charset "UTF-8";
    
    
    @font-face {
      font-family: 'GangwonEducationModuche';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
      font-weight: 300;
      font-display: swap;
    }
    @font-face {
      font-family: 'GangwonEducationModuche';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
      font-weight: 700;
      font-display: swap;
    }

    html {
        font-family: 'GangwonEducationModuche', -apple-system, 'Segoe UI',
                   'Malgun Gothic', sans-serif;
        font-size: 16px;
        }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
    .login_box {
        width: 50px;
        height: 20px;
        border-radius: 10px / 10px ;
        background-color: rgba(89, 158, 187, 0.152);
        padding:10px;
        border: 1.5px black;
        color:black;
        transition: color .45s ease, transform .45s ease;
        }
    
    .login_box:hover {
        color:rgb(162, 52, 236);
        background-color: rgba(237, 234, 245, 0.849);
        }
    
    a {     /* 하이퍼 링크 밑줄 없애기 */
        text-decoration-line: none;
        text-align: center;
        color: black;
        transition: color .35s ease, transform .35s ease;
        }

    .image {
        display:flex;
        background-image: url(https://rs.nxfs.nexon.com/bannerusr/26/9/050x08170755744.png);
        height: 430px;
        }
    
    .grid{
        display: grid;
        grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
        height: 130px;
        background-color: white
        }

    .category {
        text-align: center;
        width: 450px;
        font-size: 1.6rem;
        padding:50px;
        color: black;
        background-image: linear-gradient(rgb(254, 254, 254), rgba(182, 193, 250, 0.271));
        border-bottom: 3px solid rgba(195, 203, 245, 0.901);
        transition: background-image 0.35s ease, transform .35s ease;
        }
    .category:hover {
        background: linear-gradient(white,rgba(133, 133, 238, 0.377));
        border-radius: 50px;
        }
    #category1 {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        }
    #category3 {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        }
    a:hover {
        color:rgb(60, 67, 129);

        }
    .main {
        display:grid;
        font-size: 1.3rem;
        grid-template-columns: 80px 700px 150px;
        background-color: white;
        gap: 5px;
        justify-content: center;
        }
    
    .card {
        text-align: center;
        align-items: center;
        border: 1.5px solid rgb(0, 0, 0, 0.4);
        height: 40px;
        padding-top:20px;
    }
        

    .footer {
        height: 280px;
        background-color: rgba(4, 3, 15, 0.863);
    }

    .footer-grid {
        display: grid;
        grid-template-columns:50px repeat();
        padding:10px 0px 0px 10px;
        font-size: 1rem;
        color:rgba(184, 181, 181, 0.74)
    }
    .NEXON {
        display: block;
        color: rgba(160, 160, 160, 0.582);
    }


    /* 그라데이션 + 트랜지션 = 구글검색으로 정보 찾아서 넣어는 봣는데 티가 잘 안남*/
    /* AI 사용 최소화 (git 관련 질문 + 공지사항 텍스트 채우기) */
    /*최대한 강의 내용에 충실히 이행 ? */
    /*가운데 휑해서 이미지 url을 붙여서 넣었는데 너무 커다래서 클래스로 따로 뺀 후에 높이를 조금 다듬음*/
    /*하이퍼 링크를 붙힐 요량이엿으나 <a href= ~ 형식에서 벗어나서 하는법을 몰라서 패스 */
    /* 무언가 진짜 기능을 붙히려기보다는 일단 절대적인 교육시간이 짧기도 하거니와 아예 처음인지라 최대한 구색만 맞추기 위해 노력 */
    /* card의 공지사항들이 묘하게 상단으로 쏠려있어서 padding의 top값을 조금 채워주니 얼추 해결 */
    /*다른분들 작업물에 바로 접근할수 있도록 ui ? 배치 */
